In [3]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import time

headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.93 Safari/537.36'}

url = "https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop"

r = requests.get(url, headers=headers)
r.status_code

200

In [11]:
soup = bs(r.content, 'html.parser')

player_info = soup.find_all('tr', class_=['odd', 'even'])
print(player_info[0].prettify())
print("------------------------")
print(len(player_info))

<tr class="odd">
 <td class="zentriert">
  1
 </td>
 <td class="">
  <table class="inline-table">
   <tr>
    <td rowspan="2">
     <a href="#">
      <img alt="Kylian Mbappé" class="bilderrahmen-fixed" src="https://img.a.transfermarkt.technology/portrait/small/342229-1632686046.jpg?lm=1" title="Kylian Mbappé"/>
     </a>
    </td>
    <td class="hauptlink">
     <a href="/kylian-mbappe/profil/spieler/342229" title="Kylian Mbappé">
      Kylian Mbappé
     </a>
    </td>
   </tr>
   <tr>
    <td>
     Centre-Forward
    </td>
   </tr>
  </table>
 </td>
 <td class="zentriert">
  22
 </td>
 <td class="zentriert">
  <img alt="France" class="flaggenrahmen" src="https://tmssl.akamaized.net/images/flagge/verysmall/50.png?lm=1520611569" title="France"/>
 </td>
 <td class="zentriert">
  <a href="/fc-paris-saint-germain/startseite/verein/583" title="Paris Saint-Germain">
   <img alt="Paris Saint-Germain" class="" src="https://tmssl.akamaized.net/images/wappen/verysmall/583.png?lm=1522312728" title=" "/>
  </a>
 </td>
 <td class="rechts hauptlink">
  <b>
   €160.00m
  </b>
  <span class="icons_sprite grey-block-ten" title="€160.00m">
  </span>
 </td>
</tr>

------------------------
25

In [70]:
number = []
name = []
position = []
age = []
nation = []
team = []
value = []

In [71]:
for info in player_info:
    player = info.find_all("td")
#     print(player[0])
#     print(player[3].get_text())
#     print(player[7])
#     print(player[8])
    number.append(player[0].get_text())
    name.append(player[3].get_text())
    position.append(player[4].get_text())
    age.append(player[5].get_text())
    nation.append(player[6].img['alt'])
    team.append(player[7].a['title'])
#     value.append(player[8].b.get_text())
    value.append(player[8].text.strip())

print(value)

['€160.00m', '€150.00m', '€120.00m', '€100.00m', '€100.00m', '€100.00m', '€100.00m', '€100.00m', '€90.00m', '€90.00m', '€90.00m', '€90.00m', '€90.00m', '€85.00m', '€85.00m', '€85.00m', '€80.00m', '€80.00m', '€80.00m', '€80.00m', '€80.00m', '€75.00m', '€75.00m', '€75.00m', '€75.00m']

In [72]:
df = pd.DataFrame(
    {
    "Number":number,
    "Name":name,
     "Position":position,
     "Age":age,
     "Nation":nation,
     "Team":team,
     "Value":value
    }
)

df

,Number,Name,Position,Age,Nation,Team,Value
0,1,Kylian Mbappé,Centre-Forward,22,France,Paris Saint-Germain,€160.00m
1,2,Erling Haaland,Centre-Forward,21,Norway,Borussia Dortmund,€150.00m
2,3,Harry Kane,Centre-Forward,28,England,Tottenham Hotspur,€120.00m
3,4,Jack Grealish,Left Winger,26,England,Manchester City,€100.00m
4,5,Mohamed Salah,Right Winger,29,Egypt,Liverpool FC,€100.00m
5,6,Romelu Lukaku,Centre-Forward,28,Belgium,Chelsea FC,€100.00m
6,7,Kevin De Bruyne,Attacking Midfield,30,Belgium,Manchester City,€100.00m
7,8,Neymar,Left Winger,29,Brazil,Paris Saint-Germain,€100.00m
8,9,Jadon Sancho,Left Winger,21,England,Manchester United,€90.00m
9,10,Frenkie de Jong,Central Midfield,24,Netherlands,FC Barcelona,€90.00m
10,11,Bruno Fernandes,Attacking Midfield,27,Portugal,Manchester United,€90.00m
11,12,Joshua Kimmich,Defensive Midfield,26,Germany,Bayern Munich,€90.00m
12,13,Raheem Sterling,Left Winger,27,England,Manchester City,€90.00m
13,14,Marcus Rashford,Left Winger,24,England,Manchester United,€85.00m
14,15,Sadio Mané,Left Winger,29,Senegal,Liverpool FC,€85.00m
15,16,Heung-min Son,Left Winger,29,"Korea, South",Tottenham Hotspur,€85.00m
16,17,Pedri,Central Midfield,19,Spain,FC Barcelona,€80.00m
17,18,Phil Foden,Central Midfield,21,England,Manchester City,€80.00m
18,19,Lautaro Martínez,Centre-Forward,24,Argentina,Inter Milan,€80.00m
19,20,Marcos Llorente,Central Midfield,26,Spain,Atlético de Madrid,€80.00m
20,21,Lionel Messi,Right Winger,34,Argentina,Paris Saint-Germain,€80.00m
21,22,Mason Mount,Attacking Midfield,22,England,Chelsea FC,€75.00m
22,23,Trent Alexander-Arnold,Right-Back,23,England,Liverpool FC,€75.00m
23,24,Rúben Dias,Centre-Back,24,Portugal,Manchester City,€75.00m
24,25,Marquinhos,Centre-Back,27,Brazil,Paris Saint-Germain,€75.00m

In [73]:
df.to_csv('Most_Valueable_Players.csv', index=False)

In [86]:
html_doc = """<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
"""

soup = bs(html_doc, 'html.parser')

In [88]:
soup.p

In [89]:
soup.find('p')

In [90]:
soup.find('a')

In [91]:
soup.find('a')['href']
# soup.a['href']

'http://example.com/elsie'

In [93]:
soup.find('a').text
# soup.find('a').get_text()

'Elsie'

In [94]:
soup.find_all('a')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [95]:
#두번째 a태그의 링크
soup.find_all('a')[1]

In [97]:
a_list = soup.find_all('a')
for i in a_list:
    print(i['href'])

http://example.com/elsie
http://example.com/lacie
http://example.com/tillie

In [98]:
a_list = soup.find_all('a')
for i in a_list:
    print(i.text)

Elsie
Lacie
Tillie

In [100]:
soup.find_all("a", id="link2")